{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel = "stylesheet" type="text/css" href="{{ asset('assets/css/dashboard.css') }}">
{% endblock %}
{% block body %}
<div class="wrapper" id="dashboard">
    <div id="sidebar">
        {{ include('dashboard/sidebar.html.twig') }}
    </div>
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-default navbar-btn btn-circle"></button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}

    </div>
</div>
<div class="footer">
    <p>Footer</p>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
{% endblock %}